.container {
  display: flex;
  align-items: center;
  height: 52px;
  flex-direction: row;
  //width: 100%;
  background-color: #686794;
  margin-top: 0 !important;
  padding: 0 28px;
  justify-content: space-between;
}

.avatar {
  display: flex;
  height: 36px !important;
  width: 36px !important;
  font-size: 16px !important;
}

.main__container {
  display: flex;

  &:hover {
    cursor: default;
  }
}

.exit__btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  height: 36px;
  width: 36px;
  //&:hover{
  //  border-radius: 4px;
  //  cursor: pointer;
  //  background: #acacc9;
  //}

  &__area{
    display: flex;
    justify-content: flex-end;
  }
}

.dropdown {
  &__toggle {
    display: flex !important;
    align-items: center;
    background: none !important;
    border: none !important;
    width: 100px;
  }

  &__menu {
    width: 280px;
    background: #F9FAFF !important;
  }

  &__item {
    display: flex !important;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &:active {
      background: blueviolet !important;
    }
    &:hover {
      background: #e8e8f1 !important;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
}

