.main__container {
  display: flex;
  height: calc(100vh - 52px);
  background: #F9FAFF;
  flex-direction: column;
  margin: 52px 0 0 0 !important;
  padding: 0 !important;
}


.search__container1 {
  display: flex;
  position: fixed;
  width: 100%;

  align-items: flex-end;
  flex-direction: row;
  height: 58px;
  padding: 0 20px;
  background: #CECEE4;
  color: #303752;
}

.search__container2 {
  display: flex;

  position: fixed;
  width: 100%;
  margin-top: 58px;

  align-items: center;
  flex-direction: row;
  height: 36px;
  padding: 0 20px;
  background: #CECEE4;
  color: #303752;
}

.search__container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 36px;
  position: fixed;
  width: 100%;
  margin-top: 94px;
  padding: 0 20px;
  background: #CECEE4;
  color: #303752;
}

.search__container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 36px;
  position: fixed;
  width: 100%;
  margin-top: 130px;
  padding: 0 20px;
  background: #CECEE4;
  color: #303752;
}

.search__item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: #303752;

  &__textarea {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin: 0 10px;
    padding: 0 10px;
    border: 0;
    height: 20px;
    width: 100%;
    background: #F9FAFF !important;
    border-radius: 4px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    justify-content: space-between;
  }
}

.textarea {
  width: 100%;
  height: 16px !important;
  font-size: 12px;
  font-family: Roboto, sans-serif !important;
  color: #303752;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}

.edit__area {
  display: flex;
  align-items: center;

  position: fixed;
  width: 100%;
  margin-top: 166px;

  height: 28px;
  background: #CECEE4;
  color: #303752;
  padding-left: 20px;

  &__btn {
    display: flex;
    width: fit-content;
    color: #7D8295;
    background: none;
    border: none;
    gap: 12px;
    align-items: center;

    &:hover {
      background: #b6b6ce;
      border-radius: 4px;
    }
  }
}

.table {
  font-size: 12px;
  padding: 0 !important;
  &__col {
    border: 1px solid #999CA5;
    text-align: center;
  }
}

.error {
  color: red;
}

.btn_submit {
  background-color: #686794;
  height: 32px;
  width: fit-content;
  border: none;
  color: white;
  border-radius: 8px;
}

.btn_cancel {
  background-color: white;
  border: 1px solid #686794;
  height: 32px;
  width: fit-content;
  color: #303752;
  border-radius: 8px;
}

.checkbox{
  border: #686794;
  &:checked{
    background-color: #686794 !important;
    border: #686794;
  }
}

.search {
  display: flex;
  justify-content: flex-end;

  &__btn{
    display: flex;
    padding: 4px 8px;
    width: fit-content;
    background: #acacc9;
    border-radius: 4px;
    border: none;
    gap: 12px;
    margin-right: 10px;
    align-items: center;

    &:hover {
      background: #8285b7;
    }
  }
}

.action__field__btn {
  display: flex;
  height: 22px;
  gap: 4px;
  width: fit-content;
  color: #7D8295;
  background: none;
  border: none;

  &:hover {
    background: #b6b6ce;
    color: #303752;
    border-radius: 6px;
  }
}

.table {
  //display: flex;
  margin-top: 194px;
  margin-bottom: 40px;
  overflow-x: auto;
}